/* CSS RESET */
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  a {
    text-decoration: none;
    color: #eeeeee;
}

/* GLOBAL STYLES */

@keyframes pulsate {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
    flex-direction: row;
}

.nav {
    display: flex;
    font-family: "Noto Sans", sans-serif;
    flex-direction: row;
    text-wrap: nowrap;
    justify-content: start;
    align-items: center;
    background-color: #222222;
    gap: 3vw;
    padding: 0 2vw;
}

.nav__header {
    flex-shrink: 2;
    flex-grow: 1;
    min-width: 0;
    color: #eeeeee;
    font-size: x-large;
    font-weight: 700;
}

.nav__header::before {
    content: "🕷️";
    color: #000;
    padding-right: 0.5em;
}

.nav__link {
    color: #eeeeee;
    font-variation-settings: 'FILL' 01, 'wght' 700, 'GRAD' 0, 'opsz' 40;
}

.nav .material-symbols-outlined {
    transition: font-size 0.3s ease;
}

.nav .material-symbols-outlined:hover {
    font-size: 2vw;
    animation: pulsate 1s infinite;
}

#app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    gap: 1em;
    font-weight: 500;
}

.error-container { 
    text-align: center; 
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
} 

.error-container h1 { 
    font-size: 5rem; 
    color: #ff5733;  
}

.error-container p { 
    font-size: 1.5rem; 
    color: #333; 
    margin-bottom: 20px; 
}

.green {
    background-color: #bdffbd;
}

.red {
    background-color: #f89999;
}

.blue {
    background-color: #b4b4fa;
}

/* game */

.panel {
    display: flex;
    padding: 1em;
    gap: 1em;
}

.info_panel {
    flex-grow: 2;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: center;
}

.game_panel{
    min-width: 400px;
    flex-grow: 5;
    flex-direction: column;
    justify-content: center;
}

.badge-panel {
    flex-grow: 1;
    flex-shrink: 3;
    flex-direction: column;
}

.game_grid{
    flex-grow: 1;
    flex-shrink: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

.game_item {
    background-color: #eeeeee;
    min-width: 3rem;
    min-height: 3rem;
}

.badge_grid {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-direction: column;
    gap: 2em;
}

.badge_item {
    background-color: #eeeeee;
    min-width: 3rem;
    min-height: 3rem;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #222222;
    color: #eeeeee;
    font-size: 1rem;
    padding: 1em;
}