/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a {
  text-decoration: none;
}

/* GLOBAL STYLES */

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  overflow: scroll;
  display: grid;
  font-family: "Noto Sans", sans-serif;
  grid-template-rows: 5em 6fr;
  flex-direction: row;
  background-color: #ffffff;
  transition: background 0.2s linear;
}

p {
  font-size: 0.8em;
}

body.dark {
  background-color: #292c35;
  color: white;
}

body.dark a {
  background-color: #292c35;
  color: rgb(149, 74, 179);
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #5a5a5a5e;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .nav.dark {
  background-color: #292c35;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 01, "wght" 700, "GRAD" 0, "opsz" 40;
}

.moon {
  font-size: 1em;
  color: #f1c40f;
}

.sun {
  font-size: 1em;
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.nav {
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  gap: 3vw;
  padding: 0 2vw;
}

.nav__header {
  flex-shrink: 2;
  flex-grow: 1;
  min-width: 0;
  font-size: x-large;
  font-weight: 700;
}

.nav__header::before {
  content: "🕷️";
  padding-right: 0.5em;
}

.nav .link {
  transition: font-size 0.3s ease;
}

.nav .link:hover {
  font-size: 2em;
  animation: pulsate 1s infinite;
}

#app {
  margin: 2em;
  container-type: inline-size;
}

.error-container {
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #ffffff66;
  padding: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  font-size: 5rem;
  color: #ff5733;
}

.error-container p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* debugging */

.green {
  background-color: #bdffbd;
}

.red {
  background-color: #f89999;
}

.blue {
  background-color: #b4b4fa;
}

/* game */
.panel {
  display: flex;
  padding: 1em;
  gap: 1em;
  background-color: rgba(149, 74, 179, 0.2);
  border-radius: 8px;
}

.info_panel {
  flex-direction: column;
  justify-content: center;
}

.game_panel {
  flex-direction: column;
  justify-content: center;
}

.badge-panel {
  grid-row: 2;
  grid-column: 1 / 3;
  flex-direction: column;
}

.game_grid {
  flex-shrink: 2;
  display: grid;
  align-content: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.game_item {
  width: 3em;
  height: 3em;
}

.badge_grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-direction: row;
  gap: 2em;
}

.badge_item {
  min-width: 3em;
  min-height: 3em;
}
